/* body{bgc#ff} */
body {
  background-color: #90c7e3;
  background-image: linear-gradient(to bottom, #fff, #90c7e3);
  background-repeat: no-repeat;

  color: #1b1b1b;
  /* ffa */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#wrapper {
  /* bgc:#fff */
  background-color: #fff;
  /* bxsh:3px 3px 3px #333 */
  box-shadow: 3px 3px 3px #333;
  /* m:auto */
  margin: auto;
  /* min-w:960px */
  min-width: 960px;
  /* max-w:2048px */
  max-width: 2048px;
  /* w:80% */
  width: 80%;
}

header {
  /* bgc#002171 */
  background-color: #000033;
  /* c#fff */
  /* bgi */
  background-image: url(images/sunset.jpg);
  /* bgdp */
  background-position: right;
  /* bgr */
  background-repeat: no-repeat;
  color: #fff;
  /* h60 */
  height: 60px;
  /* pt15 */
  padding-top: 15px;
  /* tac */
  text-align: center;
}
nav {
  /* bgc#bbdefb */
  background-color: #ffffff;
  /* fwb - font weight bold*/
  font-weight: bold;
  /* p1em */
  padding: 1em;
  /* aligns bullet points with text */
  list-style-position: inside;
  /* tac: centers text */
  text-align: center;
}
nav a {
  text-decoration: none; /* txd - will remove underlines from hyperlink */
}
main {
  /* p1-20-20 */
  padding: 1px 20px 20px;
  /* db */
  display: block;
}
h1 {
  margin-bottom: 0; /* mb0 */
  /* mt0 */
  margin-top: 0;
}
h1,
h2,
h3,
footer {
  /* fft */
  font-family: Georgia, "Times New Roman", serif;
}
h2 {
  /* c#1976d2 */
  color: #1976d2;
  text-shadow: 1px 1px #000000;
}
h3 {
  color: #003; /* c#003 */
}
dt {
  /* c#002171 */
  color: #002171;
}
footer {
  /* fz75% */
  font-size: 75%;
  /* fsi */
  font-style: italic;
  padding: 2em;
  /* txa */
  text-align: center;
}
.resort {
  color: #1976d2;
  /* fwb */
  font-weight: bold;
}

/* #contact */
#contact {
  font-size: 90%;
}
#homehero {
  /* bg:url(images/coast.jpg) */
  background-image: url(images/coast.jpg);
  /* bgr:no-repeat */
  background-repeat: no-repeat;
  /* bgs:100% 100% */
  background-size: 100% 100%;
  /* h:300px */
  height: 300px;
}
#yurthero {
  /* bg:url(images/yurt.jpg) */
  background-image: url(images/yurt.jpg);
  /* bgr:no-repeat */
  background-repeat: no-repeat;
  /* bgs:100% 100% */
  background-size: 100% 100%;
  /* h:300px */
  height: 300px;
}
#trailhero {
  /* bg:url(images/trail.jpg) */
  background-image: url(images/trail.jpg);
  /* bgr:no-repeat */
  background-repeat: no-repeat;
  /* bgs:100% 100% */
  background-size: 100% 100%;
  /* h:300px */
  height: 300px;
}
